<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href="static/style.css"></link>
    </head>
    <body>
        <div allign="canter">
            <div allign="center" class="border">
                <div class="word"> Welcome </div>
            </div>
            <h1 class="bottom">¡Hola amigo,{{name}}! </br> </br>
                ¡¡{{msg}}!! </br> </br>
            </h1> 
            <a href="/logout" class="btn">Log out?</a>
        </div>
    </body>
</html>